#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #373d3c;
  /* color: #236b2d; */
}

#links {
  color: #236b2d;
}

/* *{
  color: #15251D;
  color: #236b2d;
  color: #373d3c;
} */
