body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/background%20photo.jpg");
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #1b2727;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background-color: #ffffff;
}

.footer {
background-color: #ffffff;
size: 100px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1b2727;
    background-color: #ffffff;
  }
  a:hover {
    color: #6b8e4e;
  }
}
