.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 95vw;
    z-index: 1000;
    background-color: #373d3c;
}

.logo img {
    height: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}


.horizontal-bar {
    width: 100vw;
    height: 15px;
    background-color: #ff0404; 
    position: absolute;
    bottom: 0; 
    left: 0;
}

.main-content {
    margin-top: 150px; 
}

@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        padding: 10px 0;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .horizontal-bar {
        display: none; /* Hide the bar on mobile if not needed */
    }
}
