.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background-color: #d5dddf;
    border-bottom: 5px solid #6b8e4e;
}

.logo img {
    height: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    margin-right: 100px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 24px;
}

.nav-links li a :hover {
    color: #6b8e4e;
}


@media (max-width: 768px) {
    .nav-links {
        display: flex;
        width: 100vw;
        position: absolute;
        top: 100px;
        left: 0;
        padding: 10px 50px;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .logo img {
        height: 75px;
    }
}

