.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background-color: #373d3c;
    border-bottom: 3px solid #236b2d;
}

.logo img {
    height: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    margin-right: 100px;
}

.nav-links li a {
    text-decoration: none;
    font-size: 24px;
}

.nav-links li a :hover {
    color: #6afd65;
}

.main-content {
    margin-top: 150px; 
}

@media (max-width: 768px) {
    .nav-links {
        display: flex;
        width: 100vw;
        position: absolute;
        top: 100px;
        left: 0;
        padding: 10px 50px;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .logo img {
        height: 75px;
    }
}

